.banner {
    background-image: url(../../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 800px;
    border-bottom: 10px solid #000;
    
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}