.main-section {
    background-color: #1BB0CE;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #4F8699;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-second {
    background-color: #000;
}
.main-section.-second .main-title {
    margin-bottom: 50px;
}