.main-section {
    background-color: #1BB0CE;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #4F8699;
}

.main-section .main-title {
    margin-bottom: 60px;
}
.main-section.-bgBlack {
    background-color: #000;
}
.main-section.-bdFirst {
    border-color: #1BB0CE;
}

.main-section.-bgSecond {
    background-color: #4F8699;
}

.main-section.-bgGray {
    background-color: #3A4042;
}


.main-section.-bdBlack{
    border-color: #000;
}