.main-footer {
    background-color: #000;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
}

.main-footer .action{
    margin-right: 20px;
    margin-left: 20px;
}