.main-box{
    background-color: #3A4042;
    display: inline-block;
    box-shadow: 10px 10px 0px #000000;
    text-align: center;
    padding: 42px 44px;
}

.main-box .title {
    margin-bottom: 28px;
}