.main-action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.main-action::before {
    content: '';
    background-color: #1BB0CE;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}