.main-form {
    margin: auto;
    display: block;
    width: 90%;
}
.-form-section {
    padding-bottom: 50px;
}

.main-form .form-group{
    display: block;
    margin-bottom: 20px;
}
.main-form .form-group .label-field {
    display: block;
    color: #fff;
    font-family: 'Fira Code';
    font-size: 30px;
    line-height: 39px;
}

.main-form .form-group .input-field {
    display: block;
    border: 5px solid #000000;
    width: 100%;
    min-height: 50px;
    font-family: 'Fira Code';
    font-size: 30px;
    line-height: 39px;

}

.main-form .form-group textarea.input-field {
    height: 318px;
}

.main-form .main-button {
    display: block;
    width: 100%;
    font-family: 'Fira Code';
    font-size: 30px;
    line-height: 39px;
    margin-top: 50px;
}